<p>
  <b>Title:</b>
  <%=h @entry.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @entry.body %>
</p>

<p>
  <b>Comments count:</b>
  <%=h @entry.comments_count %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>